.App {
  font-family: sans-serif;
  text-align: center;
}

textarea {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 50vh;
}

.types {
  text-align: left;
}

button {
  font-size: 120%;
}

label {
  display: block;
  font-size: 80%;
}

.errors {
  color: red;
}